body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.back-img {
    background-image: url(picture2.jpg);
    background-repeat: no-repeat;
    opacity: 80%;
    height: 500px;
    width: 90%;
    margin-left: 5%;

}

.donate-text {
    color: rgb(255, 255, 255);
    width: 80%;
    height: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 100px;
    text-align: center;
    padding-top: 50px;

}

.donate-now {
    color: white;
    text-decoration: none;
    background-color: #4E65FF;
    padding: 15px;
    border-radius: 5px;
}

.money-list {
    display: flex;
    margin-left: 30%;
    margin-right: 20%;
    margin-bottom: 50px;
}

.hulf-width {
    padding: 40px;

}

.donate-today {
    text-align: center;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.taka-amount {
    text-align: center;
    margin-bottom: 150px;
}

.donate-plan {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 80px;
}

.our-plan {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
}

#food-area {
    background-color: #abdbf7;
    padding: 10px;
    padding-top: 25px;
    margin: 15px;
}

#family-area {
    background-color: rgb(250, 210, 216);
    padding: 10px;

    margin: 15px;
}

#education-area {
    background-color: rgb(250, 250, 214);
    padding: 10px;
    margin: 15px;
}

.food-collect {
    display: flex;
}

.hulf-width {
    margin-left: 5%;
    margin-right: 5%;

}

.hulf-width img {
    width: 90%;
}

.margin {
    margin-bottom: 100px;
}